.category {
    &-product {
        display: block;
        &:hover {
            outline: solid 2px $link;
            border-radius: $card-radius
        }
        &:focus, 
        &:active {
            outline: solid 2px $link;
            border-radius: $card-radius
            box-shadow: $box-shadow;
        }
    }
}