---
layout: default
show_sidebar: false
hero_height: is-small
---
<style>
    .category-product {
        display: block;
        transition: transform 0.3s ease-in-out;
        position: relative;
        z-index: 1;
    }

    .category-product:hover {
        transition-delay: 0.5s;
        transform: scale(1.1);
        z-index: 10;
    }

    .product-title-reveal {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .category-product:hover .product-title-reveal {
        transition-delay: 0.5s;
        opacity: 1;
    }
</style>

<div class="columns is-multiline">
    <div class="column is-12">
        {{ page.content }}
    </div>

    {% include search.html %}

    {% if page.collection and site[page.collection] %}
        {% assign sorted_products = site[page.collection] | sort: page.sort %}
    {% elsif site.products %}
        {% assign sorted_products = site.products | sort: page.sort %}
    {% else %}
        {% assign sorted_products = null %}
    {% endif %}

    {% assign sorted_products = sorted_products | where_exp: "p", "p.hidden != true" %}

    {% for product in sorted_products %}
        <div class="column is-4-desktop is-6-tablet">
            <a href="{{ product.url | relative_url }}" class="category-product">
                <div class="card">
                    {% if product.banner %}
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img
                                    src="{{ product.banner }}"
                                    style="max-width:100%; height:auto;"
                                    alt="{{ product.title }}"
                                >
                            </figure>
                        </div>
                    {% endif %}
                    <div class="card-content">
                        <p class="title is-4">{{ product.title }}</p>
                        <div class="is-flex is-align-items-center is-justify-content-space-between">
                            <div class="is-flex-grow-1">
                                {% if product.rating %}
                                    {% include rating.html rating=product.rating align="has-text-left" %}
                                {% endif %}
                            </div>
                            <div class="is-flex-grow-1">
                                <p class="title is-5 has-text-right mb-0">
                                    {%- if site.lang == 'pt' -%}
                                        {{- product['price-br'] -}}
                                    {%- else -%}
                                        {{- product['price-us'] -}}
                                    {%- endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>